@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #8de88b 0%, rgb(145, 202, 131) 100%);
}
  
.container {
    background: #fff;
    width: 800px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    display: flex;
    overflow: hidden;
}
  
.introducao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: 100vh;      
    text-align: center; 
    color: white !important;
}

.introducao h1,
.introducao h2,
.introducao h3 {
    color: white;
}

.div_form {
    border: 2px solid black;
}

.iniciar, .inscrevase {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
  
.iniciar {
    background: #fff;
}
  
.iniciar h2 {
    margin-bottom: 20px;
    font-size: 24px;
}
  
.iniciar p {
    margin: 10px 0;
    color: #888;
    font-size: 14px;
}
  
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 10px;
}

input {
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
}
  
a {
    font-size: 12px;
    color: #888;
    text-decoration: none;
    align-self: flex-end;
    margin-top: -10px;
}
  
.acesso_google {
    text-align: center;
    margin-top: 10px;
    margin: auto;
    width: 100%;
    background-color: #139844;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    transition: background 0.3s, color 0.3s;
    border: 2px solid #139844;
    border-radius: 30px;
}


.btn {
    margin-top: 10px;
    background-color: #139844;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #139844;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}
  
.inscrevase {
    background: linear-gradient(to bottom right, #119522, #70d788);
    color: white;
    text-align: center;
}

.inscrevase > img{
    width: 100%;
    height: 100%;
  }
  
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.logo i{
    font-size: 26px;
    margin: 0 0 26px;
}
.inscrevase h2 {
    margin-bottom: 30px;
    font-size: 28px;
}

.inscrevase p {
    margin-bottom: 20px;
    font-size: 14px;
}
  
.btn-contorno {
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
  
.btn-contorno:hover, .acesso_google:hover, .btn:hover{
    background: white;
    color: #00c853;
}
  
