@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}

header {
    background-color: #16A34A;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    color: #fff;
    align-items: center;
    position: fixed;
    z-index: 1000;
    transition: all 0.3s ease;
}

header:hover {
    background-color: #159945;
    height: 80px;
    transition: all 0.3s ease;
}

.logo {
    display: flex;
    justify-content: space-between;
}

header i {
    font-size: 22px;
    margin: 7px 10px;
}

header h1 {
    font-size: 24px;
    font-weight: 700;
}

.topNavBar {
    display: flex;
    gap: 20px;
  }
  
  .topNavBar a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 5px 0;
    transition: color 0.5s ease;
  }
  
  .topNavBar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #b5ebbd;
    transition: width 0.5s ease;
  }
  
  .topNavBar a:hover {
    color: #b5ebbd;
  }
  
  .topNavBar a:hover::after {
    width: 100%;
  }


header ul {
    list-style: none;
    display: flex;
    gap: 18px;
    align-items: center;
    margin: 0;
    padding: 0;
}

header a {
    text-decoration: none;
    color: white;
}

header li {
    margin: 40px 0 0;
    font-size: 14px;
    font-weight: 600;
}

header li:hover {
    color: #99e3a4;
}

.introducao {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-image: url(../img/foto_section1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.introducao_faleconosco {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-image: url(../img/foto_introducao.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.introducao_faleconosco h1,h2,h3,h4,h5{
    color: #fff;
    padding: 10px;
}

input {
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
}

#fundo_blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 9998; 
  }

#div_popup {
    text-align: center;
    position: fixed;
    top: 30%;
    left: 50%;
    padding: 50px;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #139844;
    max-width: 500px;
    max-height: 500px;
    font-weight: bold;
    border-bottom: 2px solid #106b32;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    gap: 75px;
    margin-bottom: 60px;
  }
  
  .btn_send {
    margin-top: 10px;
    background-color: #139844;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #139844;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}

.btn_send:hover {
    background-color: #33c96a;
    border: 2px solid #33c96a;
}

.btn_send:active {
    background-color: #0d692f;
    color:#99e3a4
}

.div_form .btn_send {
    display: flex;
    justify-content: center;
    align-items: center;
}


  .div_form,
  .div_info {
    overflow-y: auto;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid white;
    color: #166534;
    width: 25%;
    height: 110%;
    box-sizing: border-box;
    box-shadow: -2px 2px 10px #0b492342;
    transition: width 0.5s ease;
    padding: 60px;
    font-size: 16px;
    line-height: 2.5;
    overflow: hidden;
    position: relative;
  }

.div_explaining {
    overflow-y: auto;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid white;
    color: #166534;
    width: 45%;
    height: 60%;
    box-sizing: border-box;
    box-shadow: -2px 2px 10px #0b492342;
    transition: width 0.5s ease;
    padding: 60px;
    font-size: 16px;
    line-height: 2.5;
    overflow: hidden;
    position: relative;
}

  .div_form *,
.div_info * {
  max-width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.div_form img {
    box-shadow: -2px 2px 10px #0b492342;
    width: 75%;
    height: auto;
    display: block;
    margin-top: 20px;
    transition: width 0.5s ease;
  }
.div_form img:hover {
    width: 85%;
    height: auto;
    transition: width 0.5s ease;
}

  .div_form:hover,
  .div_info:hover {
    border-radius: 10px;
    border: 2px solid white;
    width: 26%;
    height: 110%;
    box-sizing: border-box;
    box-shadow: -4px 4px 15px #0b492342;
    transition: width 0.6s ease;
  }

  #mensagem_cliente {
    height: 180px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    resize: none;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: inherit;
  }

  .icon_text {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

.introducao h2 {
    color: #fff;
    font-size: 32px;
    padding: 10px;
}

.introducao p {
    color: white;
    font-size: 18px;
    padding: 10px 0 40px;
}

.btn_introducao {
    font-family: 'poppins', sans-serif;
    padding: 14px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
.btn_introducao:active {
    font-size: 16px;
}
  
.btn_introducao:hover {
    background-color: #ffffff;
    color: #4CAF50;
    transform: scale(1.05);
}

.solucoes {
    background-color: #16A34A;
    color: #fff;
    width: 100%;
    height: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.solucoes h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px;
}

.solucoes ul {
    list-style: none;
    padding: 10px 0 30px;
}

.solucoes li {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}

.btn_solucoes {
    font-family: 'poppins', sans-serif;
    padding: 14px 20px;
    font-size: 18px;
    background-color: #fff;
    color: #4CAF50;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
  
.btn_solucoes:hover {
    background-color: #4CAF50;
    color: #fff;
    transform: scale(1.05);
}

.beneficios {
    width: auto;
    text-align: center;
}
  
.beneficios h2 {
    color: #000;
    font-size: 30px;
    padding: 70px 0 30px;
}

.cards {
    color: #000;
    display: flex;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 10px 120px;
    gap: 20px; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    width: 320px;
    height: 300px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.cards i {
    padding-bottom: 20px;
    font-size: 36px;
    color: #4CAF50;
}

.card h3 {
    font-size: 20px;
    padding-bottom: 10px;
}

.cards p {
    font-size: 16px;
}

.ultima_chamada {
    background-color: #16A34A;
    color: #fff;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.ultima_chamada h2 {
    font-size: 28px;
    padding: 100px 0 10px 0;
} 

.ultima_chamada p {
    font-size: 18px;
    padding: 20px 0 40px;
}

.btn_ultimachamada {
    font-family: 'poppins', sans-serif;
    padding: 14px 20px;
    font-size: 18px;
    background-color: #fff;
    color: #4CAF50;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn_ultimachamada:hover {
    background-color: #4CAF50;
    color: #fff;
    transform: scale(1.05);
}

footer {
    color: #fff;
    background-color: #106b32;
    width: 100%;
    height: 100px;
}

footer ul {
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 380px;
    padding: 20px 0 15px;
}

footer p {
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
}